<%= form_for @flashlight, :html =>{:multipart => true} do |f| %>
  <% if @flashlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flashlight.errors.count, "error") %> prohibited this flashlight from being saved:</h2>

      <ul>
      <% @flashlight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :serie %><br>
    <%= f.text_field :serie %>
  </div>
  <div class="field">
    <%= f.label :lumens %><br>
    <%= f.number_field :lumens %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.file_field :image%>
  </div>

  <div class="field">
    <%= f.label :remote_image_url , "Or add a url"%><br/>
    <%= f.text_field :remote_image_url%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
