<p class="name">
  <%= moreInfo.serie %> <%= moreInfo.model %>
</p>

<p class="price">
  $ <%= moreInfo.price %>
</p>

<p class="description">
  <%= moreInfo.description %>
</p>

<p>
  <strong>Features:</strong>
  <%= moreInfo.features %>
</p>

