    <!--<div class="row">
      <div class="col-md-2 col-md-offset-1">
          <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
          <p>Bonita linterna de capacidad</p>
      </div>
       <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
    </div>-->


    <% otrosProd.each do |prod| %>

    <div class="col-md-2 lantern-mini" >
      
      <%= link_to (image_tag prod.image_url.to_s , class:"img-responsive ", alt:"Responsive image"), prod , remote:true%>
    </div>
    <div class="col-md-2 lantern-mini" >
      <p>Modelo: <%= prod.model %></p>
      <p>Max Lumens: <%= prod.lumens %></p>
      <p>Precio: $<%= prod.price %></p>
      <td><%= link_to 'Información', prod ,class:"btn btn-primary btn-lg show-more visible-xs" , :data =>{:toggle=>"modal" , :target=>"#myModal"}, remote:true%></td>
    </div>


    <% end %>

    <% otrosProd.each do |prod| %>

    <div class="col-md-2 lantern-mini" >
      <p><b>Precio: $<%= prod.price %></b></p>
      <%= link_to (image_tag prod.image_url.to_s , class:"img-responsive ", alt:"Responsive image"), prod , remote:true%>
    </div>

    <% end %>

  
