<div class="container-group">

<div class="container-fluid">
<!-- Circulos -->
<div class="row botonHumano">
  <div class="col-md-1 col-md-offset-2">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " id="butonBike" alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-rc-transparent-01.png" class="img-responsive  "  id="butonRecargables" alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  "  alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-head-transparent-01.png" class="img-responsive  " id="butonFrontales" alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
</div>
<!-- Tooltip -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>
<!-- Cuadro central -->
<div class="row">
  <!-- Series -->
  <div class="col-md-2  botonSerie">
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p id="butonBK"> BK </p>
      </div>
    </div>

    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p id="butonRC"> RC </p>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p> TK </p>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p> PD </p>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p> LD </p>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p> E </p>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p id="butonHL"> Frontales </p>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p> Angulo </p>
      </div>
    </div>

  </div>
  <!-- Linterna actual -->
  <div class="col-md-9" id="mainFrame">
    <div class="navbar navbar-inverse  " role="navigation">
         
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
            </div>
            <div class="navbar-collapse2 collapse">
                    <ul >
                      <li><a href="#about">Serie BK</a></li>
                      <li><a href="#about">Serie RC</a></li>
                      <li><a href="#about">Serie TK</a></li>  
                      <li><a href="#about">Serie PD</a></li>  
                      <li><a href="#about">Serie LD</a></li>  
                      <li><a href="#about">Serie E</a></li>  
                      <li><a href="#about">Frontales</a></li>  
                      <li><a href="#about">Angulo</a></li>                      
                    </ul>
            </div>
    </div>
  <div id="inicial">
  <%=render "inicial" %>
</div>


  <div id="lBK">
  <%=render "linterna1_serie_bk" %>
</div>

  <div id="lRC">
  <%=render "linterna1_serie_rc" %>
  </div>

<div id="lHL">
  <%=render "linterna1_serie_hl" %>
  </div>

</div>
  
  <!-- fin -->
</div>
</div>

<div id="borrar">
<h1>Listing flashlights</h1>

<table>
  <thead>
    <tr>
      <th>model</th>
      <th>Price</th>
      <th>Serie</th>
      <th>Lumens</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flashlights.each do |flashlight| %>
      <tr>
        <td><%= flashlight.model %></td>
        <td><%= flashlight.price %></td>
        <td><%= flashlight.serie %></td>
        <td><%= flashlight.lumens %></td>
        <td><%= flashlight.description %></td>
        <td><%= link_to 'Show', flashlight %></td>
        <td><%= link_to 'Edit', edit_flashlight_path(flashlight) %></td>
        <td><%= link_to 'Destroy', flashlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flashlight', new_flashlight_path %>

<%=link_to 'algo', indexSerie_flashlight_path("tk")%>

</div>