
<div class="row">
              <div class="col-md-9 col-md-offset-2">
<div id="theBlackOne">
<div id="carouselContainer">
                    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                    <!-- Los botones Redondos de abajo-->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>   
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                    <h3>Serie A</h3>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                  <img src="assets/cuadros-01.png" class="img-responsive" alt="Responsive image">
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                    <p>Serie pensada para correr?</p>
                                    blablablablablablabalbalbalablabalbalbalbal

                                </div>
                            </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="item">
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                    Serie B
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                  <img src="assets/cuadros-01.png" class="img-responsive" alt="Responsive image">
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                    Serie pensada para matar, ohh mm matar duhh
                                </div>
                            </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                    Serie C
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                  <img src="assets/cuadros-01.png" class="img-responsive" alt="Responsive image">
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 col-md-offset-2">
                                    Serie pensada para cereal? killer?
                                </div>
                            </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <img src="assets/slideIV.jpg" class="img-responsive" alt="Responsive image">
                            <div class="carousel-caption">
                              <h3>Serie especial</h3>
                              <p>o quizas se ve mejor asi?</p>
                            </div>
                        </div>
                    </div>
                    <!-- Las flechas de los bordes-->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

</div>
</div>
</div>

<!--<h1>Listing flashlights</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Serie</th>
      <th>Lumens</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flashlights.each do |flashlight| %>
      <tr>
        <td><%= flashlight.name %></td>
        <td><%= flashlight.price %></td>
        <td><%= flashlight.serie %></td>
        <td><%= flashlight.lumens %></td>
        <td><%= flashlight.description %></td>
        <td><%= link_to 'Show', flashlight %></td>
        <td><%= link_to 'Edit', edit_flashlight_path(flashlight) %></td>
        <td><%= link_to 'Destroy', flashlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flashlight', new_flashlight_path %>
-->