<h1>Listing flashlights</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Serie</th>
      <th>Lumens</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flashlights.each do |flashlight| %>
      <tr>
        <td><%= flashlight.name %></td>
        <td><%= flashlight.price %></td>
        <td><%= flashlight.serie %></td>
        <td><%= flashlight.lumens %></td>
        <td><%= flashlight.description %></td>
        <td><%= link_to 'Show', flashlight %></td>
        <td><%= link_to 'Edit', edit_flashlight_path(flashlight) %></td>
        <td><%= link_to 'Destroy', flashlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flashlight', new_flashlight_path %>
