<!-- Circulos -->
<div class="row botonHumano visible-lg visible-md">

      <%= link_to image_tag("btn-bike-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "bk" , remote:true  %>

      <%= link_to image_tag("btn-rc-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "rc" , remote:true  %>
      
  
      <%= link_to image_tag("btn-tk-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true  %>
  
      <%= link_to image_tag("btn-pd-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "pd" , remote:true  %>

      <%= link_to image_tag("btn-ld-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "ld" , remote:true  %>
  
      
      <%= link_to image_tag("btn-e-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "e" , remote:true  %>
  
      <%= link_to image_tag("btn-head-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "fro" , remote:true  %>
 
      <%= link_to image_tag("btn-mc-transparent-01.png" ,class:"img-responsive" , alt:"Responsive image"), :controller => "flashlights", :action => "index_serie", :serie => "ang" , remote:true  %>
 
</div>
<!-- Tooltip -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>
<!-- Cuadro central -->
<div class="row">
  <!-- Series -->
  <div class="col-md-2 visible-lg visible-md botonSerie">
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'BK', :controller => "flashlights", :action => "index_serie", :serie => "bk" , remote:true%> 
      </div>
    </div>

    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%=link_to 'RC', :controller => "flashlights", :action => "index_serie", :serie => "rc" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'TK', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'PD', :controller => "flashlights", :action => "index_serie", :serie => "pd" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'LD', :controller => "flashlights", :action => "index_serie", :serie => "ld" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%=link_to 'E', :controller => "flashlights", :action => "index_serie", :serie => "e" , remote:true%>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'Frontales', :controller => "flashlights", :action => "index_serie", :serie => "fro" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'Angulos', :controller => "flashlights", :action => "index_serie", :serie => "ang" , remote:true%> 
      </div>
    </div>

  </div>
  <!-- nav -->
  <div class="col-md-9 hidden-lg hidden-md" id="mainFrame">
    <div class="navbar navbar-inverse  " role="navigation">
         
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
            </div>
            <div class="navbar-collapse2 collapse">
                    <ul >
                      <li><a href="#about">Serie BK</a></li>
                      <li><a href="#about">Serie RC</a></li>
                      <li><%=link_to 'Serie TK', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%></li>  
                      <li><a href="#about">Serie PD</a></li>  
                      <li><a href="#about">Serie LD</a></li>  
                      <li><a href="#about">Serie E</a></li>  
                      <li><a href="#about">Frontales</a></li>  
                      <li><a href="#about">Angulo</a></li>                      
                    </ul>
            </div>
    </div>
  

</div>
  



<div id="frame" class="row">
  <%=render "inicial" %>
</div>

 <div id="otrosProd" class="row">
</div>



  <!-- fin -->
</div>
</div>

<% if admin %>
<div id="borrar">
<h1>Listing flashlights</h1>


<table>
  <thead>
    <tr>
      <th>model</th>
      <th>Price</th>
      <th>Serie</th>
      <th>Lumens</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flashlights.each do |flashlight| %>
      <tr>
        <td><%= flashlight.model %></td>
        <td><%= flashlight.price %></td>
        <td><%= flashlight.serie %></td>
        <td><%= flashlight.lumens %></td>
        <td><%= flashlight.description %></td>
        <td><%= link_to 'Show', flashlight %></td>
        <td><%= link_to 'Edit', edit_flashlight_path(flashlight) %></td>
        <td><%= link_to 'Destroy', flashlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flashlight', new_flashlight_path %>



</div>
<%end%>