<div class="container-group">

<div class="container-fluid">
<!-- Circulos -->
<div class="row botonHumano">
  <div class="col-md-1 col-md-offset-2">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " id="butonBike" alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-rc-transparent-01.png" class="img-responsive  "  id="butonRecargables" alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  "  alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-head-transparent-01.png" class="img-responsive  " id="butonFrontales" alt="Responsive image">
  </div>
  <div class="col-md-1">
      <img  src="assets/btn-bike-transparent-01.png" class="img-responsive  " alt="Responsive image">
  </div>
</div>
<!-- Tooltip -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>
<!-- Cuadro central -->
<div class="row">
  <!-- Series -->
  <div class="col-md-2  botonSerie">
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'BK', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%> 
      </div>
    </div>

    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%=link_to 'RC', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'TK', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'PD', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'LD', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%=link_to 'E', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%>
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'Frontales', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%> 
      </div>
    </div>
    <!-- Serie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <%=link_to 'Angulos', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%> 
      </div>
    </div>

  </div>
  <!-- Linterna actual -->
  <div class="col-md-9" id="mainFrame">
    <div class="navbar navbar-inverse  " role="navigation">
         
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
            </div>
            <div class="navbar-collapse2 collapse">
                    <ul >
                      <li><a href="#about">Serie BK</a></li>
                      <li><a href="#about">Serie RC</a></li>
                      <li><%=link_to 'Serie TK', :controller => "flashlights", :action => "index_serie", :serie => "tk" , remote:true%></li>  
                      <li><a href="#about">Serie PD</a></li>  
                      <li><a href="#about">Serie LD</a></li>  
                      <li><a href="#about">Serie E</a></li>  
                      <li><a href="#about">Frontales</a></li>  
                      <li><a href="#about">Angulo</a></li>                      
                    </ul>
            </div>
    </div>
  

</div>
  

  <div class="row">
      <div class="col-md-6">
        <img  src="assets/lantern-big-01.png" class="img-responsive fenix " alt="Responsive image">
      </div>
      <div class="col-md-6">
        <p id="description-frame">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
        <h5>Precio: 1000</h5>
      </div>
    </div>
    <!-- Otras linterna -->
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
          <p>Bonita linterna de capacidad</p>
      </div>
       <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
      <div class="col-md-2">
           <img  src="assets/lantern-01.png" class="img-responsive fenix " alt="Responsive image">
           <p>Bonita linterna de capacidad</p>
      </div>
    </div>



  <!-- fin -->
</div>
</div>

<div id="borrar">
<h1>Listing flashlights</h1>


<table>
  <thead>
    <tr>
      <th>model</th>
      <th>Price</th>
      <th>Serie</th>
      <th>Lumens</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flashlights.each do |flashlight| %>
      <tr>
        <td><%= flashlight.model %></td>
        <td><%= flashlight.price %></td>
        <td><%= flashlight.serie %></td>
        <td><%= flashlight.lumens %></td>
        <td><%= flashlight.description %></td>
        <td><%= link_to 'Show', flashlight %></td>
        <td><%= link_to 'Edit', edit_flashlight_path(flashlight) %></td>
        <td><%= link_to 'Destroy', flashlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flashlight', new_flashlight_path %>

<%=link_to 'algo', :controller => "flashlights", :action => "index_serie", :serie => "tk" %>

</div>