<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flashlight.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flashlight.price %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @flashlight.serie %>
</p>

<p>
  <strong>Lumens:</strong>
  <%= @flashlight.lumens %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flashlight.description %>
</p>

<%= link_to 'Edit', edit_flashlight_path(@flashlight) %> |
<%= link_to 'Back', flashlights_path %>
