	<div class="row">
	<div id="horario" class="col-md-12 col-sm-12">
		<h3><b>Horario:</b></h1> <h3>Lunes a Viernes de 09:00 a 13:00 horas y de 14:00 a 19:30 horas.</h3>
	                <h4>Sábados de 10:00 a 13:30 horas.</h4>
	                <p>T: (56-2) 2583 0333 - 2583 0334 - 2341 1712</p><p>Móvil: 09-9820 2149</p>
	     <div class="row">
	     		<div  class="col-md-12 col-sm-12">

	     			 <div id="press-photos" class="row">
	 	<h3>Caso Mina San José</h3>
	 	<p>Linternas Tácticas, en representación de FENIX hizo entrega de linternas LD20 a los 33 mineros.</p>



	 		
	 		 <% @images = Dir.glob("app/assets/images/mineros/700*.jpg") %>


	 		 

	 		 <div id="links">
	 		 	 <% @images.each do |image| %>
	 		 	  <%= link_to (image_tag("mineros/#{image.split('/').last}", class:"img-responsive fenix md-1" ,  alt:"Responsive image")), image_path("mineros/#{image.split('/').last}"), title:"Entrega de linternas LD20 a los 33 mineros." %>
	 		 	 <% end %>
   
			</div>

	 





	 </div>

	     		</div>
	     </div>

	</div>


 <div id="map-canvas" class="col-md col-sm-12"></div>

</div>

<div class="form-contact">
<%= form_tag(send_mail_path) do %>

            <%= raw negative_captcha(@captcha) %>
            <div>
                <%= negative_label_tag @captcha,:name, 'Nombre' %>
                <%= negative_text_field_tag @captcha,:name,  class: '', placeholder: 'Tu nombre' %>
            </div>
           <div >
               <%= negative_label_tag @captcha,:mail,'mail' %>
               <%= negative_text_field_tag @captcha,:mail,  class: '', placeholder: 'Tu Email' %>
           </div>
           <div >
               <%= negative_label_tag @captcha,:comments, 'Comentarios' %>
               <%= negative_text_area_tag @captcha,:comments,  class: '', rows: 4,  placeholder: 'Comments...' %>
           </div>
           <%= submit_tag nil, class: "button" %>
 <% end %>
</div>




 <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>


