<%= form_tag(send_mail_path) do %>

            <%= raw negative_captcha(@captcha) %>
            <div>
                <%= negative_label_tag @captcha,'name', 'Name' %>
                <%= negative_text_field_tag @captcha,:name,  class: '', placeholder: 'Your Name' %>
            </div>
           <div >
               <%= negative_label_tag @captcha,'mail','mail' %>
               <%= negative_text_field_tag @captcha,:mail,  class: '', placeholder: 'Your Email Address' %>
           </div>
           <div >
               <%= negative_label_tag @captcha,'comments', 'Comments' %>
               <%= negative_text_area_tag @captcha,:comments,  class: '', rows: 4,  placeholder: 'Comments...' %>
           </div>
           <%= submit_tag nil %>
 <% end %>