<%= form_tag(send_mail_path) do %>
            <div>
                <%= label_tag 'name', 'Name' %>
                <%= text_field_tag 'name', nil, class: '', placeholder: 'Your Name' %>
            </div>
           <div >
               <%= label_tag 'mail','mail' %>
               <%= email_field_tag 'mail', nil, class: '', placeholder: 'Your Email Address' %>
           </div>
           <div >
               <%= label_tag 'comments', 'Comments' %>
               <%= text_area_tag 'comments', nil , class: '', rows: 4,  placeholder: 'Comments...' %>
           </div>
           <%= submit_tag nil %>
 <% end %>