<div class="form-contact">
<%= form_tag(send_mail_path) do %>

            <%= raw negative_captcha(@captcha) %>
            <div>
                
                <%= negative_text_field_tag @captcha,:name,  class: '', placeholder: 'Tu nombre' %>
            </div>
           <div >
               
               <%= negative_text_field_tag @captcha,:mail,  class: '', placeholder: 'Tu Email' %>
           </div>
           <div >
               
               <%= negative_text_area_tag @captcha,:comments,  class: '', rows: 4,  placeholder: 'Comentarios...' %>
           </div>
           <%= submit_tag nil, class: "button" %>
 <% end %>
</div>