<%= form_for @charger_gallery , :html =>{:multipart => true} do |f| %>
  <% if @charger_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charger_gallery.errors.count, "error") %> prohibited this charger_gallery from being saved:</h2>

      <ul>
      <% @charger_gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :charger_id %><br>
    <%= f.number_field :charger_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
