<p id="notice"><%= notice %></p>

<p>
  <strong>Accessory:</strong>
  <%= @accessory_gallery.accessory_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @accessory_gallery.image %>
</p>

<%= link_to 'Edit', edit_accessory_gallery_path(@accessory_gallery) %> |
<%= link_to 'Back', accessory_galleries_path %>
