<%= form_for @charger , :html =>{:multipart => true} do |f| %>
  <% if @charger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charger.errors.count, "error") %> prohibited this charger from being saved:</h2>

      <ul>
      <% @charger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_area :features %>
  </div>

 <div class="field">
    <%= f.file_field :image%>
  </div>

  <div class="field">
    <%= f.label :remote_image_url , "Or add a url"%><br/>
    <%= f.text_field :remote_image_url%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
