<h1>Listing chargers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Features</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chargers.each do |charger| %>
      <tr>
        <td><%= charger.name %></td>
        <td><%= charger.price %></td>
        <td><%= charger.description %></td>
        <td><%= charger.features %></td>
        <td><%= link_to 'Show', charger %></td>
        <td><%= link_to 'Edit', edit_charger_path(charger) %></td>
        <td><%= link_to 'Destroy', charger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charger', new_charger_path %>
