<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Modal title</h4>
      </div>
      <div class="modal-body" id="modalContent">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="index-accessories-panel">

<% @chargers.each do |charger| %>
<div class="index-item">
  <a class="group1" href="https://31.media.tumblr.com/3d9d0a8336df5a105dddc24f68a6f715/tumblr_mxj5dhZUvu1qa0p47o1_500.jpg" alt="<%= charger.name %>" title="<%= charger.name %>" ><img src="http://placehold.it/160x200"></a>
  <p><%= charger.name %></p>
  <p>Precio: <%= charger.price %></p>
  <td><%= link_to 'Información', charger ,class:"btn btn-primary btn-lg show-more" , :data =>{:toggle=>"modal" , :target=>"#myModal"}, remote:true%></td>
</div>

<% end  %>

</div>



<% if admin %>

<h1>Listing chargers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Features</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chargers.each do |charger| %>
      <tr>
        <td><%= charger.name %></td>
        <td><%= charger.price %></td>
        <td><%= charger.description %></td>
        <td><%= charger.features %></td>
        <td><%= link_to 'Show', charger %></td>
        <td><%= link_to 'Edit', edit_charger_path(charger) %></td>
        <td><%= link_to 'Destroy', charger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charger', new_charger_path %>

<% end %>
