<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charger.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @charger.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charger.description %>
</p>

<p>
  <strong>Features:</strong>
  <%= @charger.features %>
</p>

<%= link_to 'Edit', edit_charger_path(@charger) %> |
<%= link_to 'Back', chargers_path %>
