
<p class="name">
  <%= accessory.name %>
</p>

<p class="price">
  $ <%= accessory.price %>
</p>

<p class="description">
  <%= accessory.description %>
</p>

<p>
  <strong>Features:</strong>
  <%= accessory.features %>
</p>

<p class="compatible">
  <strong>Compatible:</strong>
  <%= accessory.compatible %>
</p>

