
<p>
  <strong>Name:</strong>
  <%= accessory.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= accessory.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= accessory.description %>
</p>

<p>
  <strong>Features:</strong>
  <%= accessory.features %>
</p>

<p>
  <strong>Compatible:</strong>
  <%= accessory.compatible %>
</p>

