<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= accessory.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= accessory.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= accessory.description %>
</p>

<p>
  <strong>Features:</strong>
  <%= accessory.features %>
</p>

<p>
  <strong>Compatible:</strong>
  <%= accessory.compatible %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
