<!DOCTYPE html>
<html>
<head>
  <title>Linternas Tacticas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   
   
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=652888551434207";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--
<div id="banner" class="container">
<img  src="assets/banda_superior.jpg">
</div>
-->

	<div class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
         
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>

                    <% if current_user %>
                    Logged in as <%= current_user.username %>.
                    <%= link_to "Log out", logout_path %>
                    <%else%>
                    <%= link_to 'Linternas Tácticas', root_path, id:"nav", class: "navbar-brand" %>
                    <%=image_tag("fenix_logo-01.png" , class:"img-responsive" , alt:"Responsive image")%>
                    <%end%>
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                      <li class="<%= navMainActive('home')%>"><%= link_to 'Home', root_path %></li>
                      <li class="<%= navMainActive('flashlights')%>"> <%= link_to 'Linternas', flashlights_path %></li>
                      
        <li class="dropdown <%= navMainActive('accessories')%> <%= navMainActive('chargers')%>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros Productos<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <%= link_to 'Accesorios', accessories_path %></li>
            <li> <%= link_to 'Cargadores y Pilas', chargers_path %></li>
            
          </ul>
        </li>
                       <li class="<%= navMainActive('companies')%>"><%= link_to 'Empresas', :controller => :pages, :action => :companies %></li>
                      <li class="<%= navMainActive('about')%>"><%= link_to 'Nosotros', :controller => :pages, :action => :about %></li>          
                      <li class="<%= navMainActive('contact')%>"><%= link_to 'Contacto', :controller => :pages, :action => :contact %></li>                      
                    </ul>
            </div>
    </div>
  
    

<div class="container-group">
  <div class="container-fluid" >
    
      <%= yield %>
    </div>
</div>

  <!--<div id="relleno"> </div>-->

     

         
            <div id="bannerInferior" class="row">
              <div  class="col-md-4">
              <%=image_tag("fenix_btn-01.png" , class:"img-responsive fenix" , alt:"Responsive image")%>
              <%= link_to 'Conoce más sobre linternas fenix',"#", class: "button" %>
              </div>
              <div  id="cards" class="col-md-3">
                <%=image_tag("pay-every-01.png" , id:"tarjetasContainer", class:"img-responsive"  , alt:"Responsive image")%>
              </div>
              <div  class="col-md-4 col-md-offset-1 logos" >
                <div id="twitter"><a href="https://twitter.com/linternasfenix"></a></div>
                <div id="facebook"><a href="https://www.facebook.com/pages/Linternas-Tácticas-Fénix/292075604150453?v=wall"></a></div>
                <div id="sport"><a href="http://www.sport-jagd.cl/" ></a></div>
              </div>
            </div>

</div>
            <!--Footer-->
            
              <div class="footer">

                    

                      <address>
                      <p>Oficina-Tienda: Rengo 1015, Dpto 102-A • Ñuñoa • Santiago, Chile</p>
                      <p>Horario: Lunes a viernes 9:00 a 13:00 y de 14:00 a 19:30 hrs • Sábado de 10:00 a 13:30 hrs.</p>
                     
                      <p><abbr title="Telefono">T:</abbr> (56-2) 2583 0333 - 2583 0334 - 2341 1712 • Móvil: 09-9820 2149</p>

                      <p>2014 Linternas Tácticas Desarrollado por Code&Tales</p>
                    </address>
                 
              </div>

     
  

</body>
</html>
