<!DOCTYPE html>
<html>
<head>
  <title>Linternas Tacticas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<div id="banner" class="container">
<img  src="assets/banda_superior.jpg">
</div>
-->

	<div class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
         
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>

                    <% if current_user %>
                    Logged in as <%= current_user.username %>.
                    <%= link_to "Log out", logout_path %>
                    <%else%>
                    <%= link_to 'Linternas Tácticas', root_path, id:"nav", class: "navbar-brand" %>
                    <img  src="assets/fenix_logo-01.png" class="img-responsive" alt="Responsive image">
                    <%end%>
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                      <li class="active"><%= link_to 'Home', root_path %></li>
                      <li> <%= link_to 'Linternas', flashlights_path %></li>
                      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros Productos<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Linternas Y cargadores</a></li>
            
          </ul>
        </li>
                      <li><a href="#about">Empresa</a></li>
                      <li><%= link_to 'Contacto', :controller => :pages, :action => :contact %></li>                      
                    </ul>
            </div>
    </div>
  
    


    
      <%= yield %>
    </div>


  <!--<div id="relleno"> </div>-->

     

         
            <div id="bannerInferior" class="row">
              <div  class="col-md-4">
              <img  src="assets/fenix_btn-01.png" class="img-responsive fenix" alt="Responsive image">
              <%= link_to 'Conoce más sobre linternas fenix',"#", class: "button" %>
              </div>
              <div  id="cards" class="col-md-3">
                <img id="tarjetasContainer" src="assets/pay-cards-01.png" class="img-responsive" alt="Responsive image">
                <div class= "button">Despacho a todo Chile</div>
                <img id="redcompra" src="assets/redcompra-pay-01.png" class="img-responsive" alt="Responsive image">
              </div>
              <div  class="col-md-4 col-md-offset-1 logos" >
                <img  src="assets/twitter_btn-01.png" class="img-responsive imgDer" alt="Responsive image">
                <img  src="assets/facebook_btn-01.png" class="img-responsive imgDer" alt="Responsive image">
                <img  src="assets/jagd_logo-01.png" class="img-responsive imgDer" alt="Responsive image">
              </div>
            </div>

</div>
            <!--Footer-->
            
              <div class="footer">

                    

                      <address>
                      <p>Ofi-Tienda: Rengo 1015, Dpto 102-A•Ñuñoa•Santiago, Chile</p>
                      <p>Horario: Lunes a viernes 9:00 a 13:00 y de 14:00 a 19:30 hrs • Sábado de 10:00 a 13:30hrs.</p>
                     
                      <p><abbr title="Telefono">T:</abbr> (56-2) 2583 0333 - 2583 0334 - 2341 1712 • Móvil: 09-9820 2149</p>

                      <p>2014 Linternas Tácticas Desarrollado por <<>></p>
                    </address>
                 
              </div>

     
  

</body>
</html>
